h1 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 30px 0px;
}

form {
  padding: 20px;
  width: 50%;
  margin: 20px;
}

form > div {
  margin: 20px 0px;
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

input {
  width: 45vw;
  height: 50px;
  border: none;
  padding: 10px 0px;
  border-bottom: 2px solid white;
  background-color: black;
  color: white;
  font-size: 24px;
}

input:focus {
  outline: none;
}

button {
  margin: 25px 0px;
  padding: 10px 10px;
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

#message {
  margin: 30px 0px;
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: red;
}

#signup {
  padding: 10px 30px;
}
