* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  font-weight: 500;
  background-color: #000;
  color: white;
}

#root {
  width: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 100vw;
}
